/*Import Font & Social Media images*/
@import url('//db.onlinewebfonts.com/c/2206d6cc490084998d531e8c1b2cbb4a?family=Druk+Wide+Bold');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');

body {
  font-family: 'Druk Wide Bold', 'Open Sans', sans-serif;
  /*font-family: 'Open Sans', sans-serif;*/
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
}

html {
  position: relative;
  min-height: 100vh;
}

a {
  color: #179b53;
}

h1 {
  font-size: 300%;
  margin: .4em 0;
}

/* Custom Classes */ 

.banner {
  max-width: 100%;
}


.bg-honeycomb {
  background:
  radial-gradient(circle farthest-side at 0% 50%,#828282 23.5%,rgba(240,166,17,0) 0)21px 30px,
  radial-gradient(circle farthest-side at 0% 50%,white 24%,rgba(240,166,17,0) 0)19px 30px,
  linear-gradient(#828282 14%,rgba(240,166,17,0) 0, rgba(240,166,17,0) 85%,#828282 0)0 0,
  linear-gradient(150deg,#828282 24%,white 0,white 26%,rgba(240,166,17,0) 0,rgba(240,166,17,0) 74%,white 0,white 76%,#828282 0)0 0,
  linear-gradient(30deg,#828282 24%,white 0,white 26%,rgba(240,166,17,0) 0,rgba(240,166,17,0) 74%,white 0,white 76%,#828282 0)0 0,
  linear-gradient(90deg,white 2%,#828282 0,#828282 98%,white 0%)0 0 #828282;
  background-size: 40px 60px;
}

.footer {
  bottom: -60px;
  background-color: rgba(55, 55, 55, .9);
  padding: 10px;
  height: 60px;
  position: absolute;
  text-align: center;
  width: 100%;
}

.footer-container {
  position: relative;
}

.gear-container {
  padding: 0px 20px 50px !important;
}

.gearimg {
  height: 300px;
  object-fit: contain;
}

.gray-text {
  color: rgba(55, 55, 55, .9);
}

.home-card {
  height: 100%;
  width: 100%;
  border-width: 5px;
  border-style: solid;
  box-shadow: 4px 4px 8px 0px rgba( 0, 0, 0, 0.2 );
  padding: 1.25rem;
}

.home-card:hover {
  background-color: rgba(150, 150, 150, 1);
  color: white;
  transition-duration: 0.4s;
}
.home-card:hover a {
  color: #49ca83;
}

.home-row {
  margin-bottom: 50px;
}

.navTransparent {
  background-color: none;
}

#video {
  position: fixed;
  right: 0;
}

.tab {
  display: inline-block;
  overflow:auto;
  white-space:nowrap;
  font-size:small;
  line-height:normal;
  font-family: "courier new", monospace;
}

.tab-container {
  margin-left: 20px;
}

.thumbnail img {
  width: 100%;
  height: 350px;
}

.thumbnail {
  padding: 0;
}

.hover-square {
  justify-content: center;
  border-color: #179b53;
  border-style: solid;
  border-width: 2px;
  outline-offset: 5px;
  margin: auto;
}


/* Semantic */


.header { /*Card Header */
  font-size: 26px;
  font-family: inherit !important;
}


/* Bootstrap */

.card-body {
  display: inline-block;
}

.card-header {
  font-size: 26px;
}

.list-group {
  height: inherit;
}

.list-group-item {
  background-color: inherit;
}

.row > [class*='col-'] {
  display: flex;
  flex-direction: column;
}

.nav {
  display: inline;
  margin-right: 40px;
}

.navbar-brand {
  background-color: transparent;
  margin: 5px 0px 5px 20px;
  padding: 0px !important;
}

.topnav {
  background-color: rgba(55, 55, 55, .9); /* #373737 */
  overflow: hidden;
  width: 100%;
}

/* Style the links inside the navigation bar */
.topnav .btn {
  color: #f2f2f2;
  font-size: 14px;
  text-align: center;
  padding: 14px 25px;
  text-decoration: none;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: rgba(221, 221, 221, .7); /* #ddd */
  color: black;
  transition-duration: .6s;
}

/* Social Media */

.fa {
  padding: 10px;
  width: 35px;
  height: 35px;
  align-content: center;
  font-size: 15px;
  text-align: center;
  text-decoration: none;
  margin: 2px 2px;
  border-radius: 50%;
  color: #373737;
  background: white;
}

.fa:hover {
  transform: scale(1.3);
  transition-duration: .6s;
  color: #179b53;
}


/* Mobile */
@media (max-width: 600px) {

  body {
    font-size: 12px;
  }

  h1 {
    font-size: 200%;
    margin: .8em 0;
  }



  .col-md-6 {
    margin-bottom: 30px;
  }

  .gearimg {
    max-height: 200px;
  }

  .home-section {
    margin: 30px auto;
  }

  .navbar-brand {
    padding: 0px !important;
    margin: 3px 0px;
    width: 80px;
  }

  .row {
    margin-bottom: 0px;
  }
}

@media (max-width: 775px) {
  .topnav .btn {
    font-size: 12px;
    padding: 14px 8px;
  }
}

@media (max-width: 992px) {

  .home-row {
    margin-bottom: 0px;
  }

  .home-card {
    margin-bottom: 50px;
  }

  #video {
    position: static;
  }
}